body {
    background-color: black;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 3rem;

    .mainForm, .contacts {
        text-align: center;
        width: 30rem;
        padding: 3rem;
        border: 1px solid blue;
        border-radius: 2rem;
        margin: 0 auto;
        background-color: skyblue;
    }

    .mainForm {
        p {
            margin: 0;
            margin-bottom: 2rem;
            font-weight: bold;
            font-size: 2rem
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            gap: 2rem;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column wrap;

                label {
                    font-size: 1.5rem;
                }

                input {
                    text-align: center;
                }
            }

            button {
                padding: 0.5rem;
                text-align: center;
                font-size: 1.2rem;
                border-radius: 0.6rem;
                background-color: blue;
                color: white;
                border: 1px solid white;
            
            }
        }
    }

    .contacts {

        h2 {
            padding: 0;
            margin: 0;
            margin-bottom: .5rem
        }

        #contactsTable {
            width: 100%;

            tbody tr {

                td {
                    .delete {
                        background-color: tomato;
                        font-weight: bold;
                        border: 1px solid black;
                        // padding: 0.3rem;
                        border-radius: 0.3rem;
                        
                    }
                }
            }
        }
    }
}